@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  padding: 0 ;
  margin: 0;
}

.center {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.main {
  padding: 40px 0;
  width: 100%;
  background-color: blueviolet;
  min-height: 400px;
  background-image:url(./img/surf02-wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu h3 {
  color: #295d6c ;
  font-size: 19px;
  font-family: 'Shadows Into Light', cursive;
}

.menu h4 {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 3px 8px;
  border-radius: 5px;
  font-family: 'Shadows Into Light', cursive;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.form h2 {
  color: #46727e;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 28px;
  font-family: 'Shadows Into Light', cursive;
}

.items-form {
  margin: 0 auto;
  max-width: 540px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

}

.form input[type=text] {
  padding-left: 10px;
  width: 48%;
  height: 30px;
  margin: 8px 0;
  font-family: 'Shadows Into Light', cursive;
}

.form input[type=submit] {
  width: 100%;
  height: 40px;
  background-color: #5999AB;
  border: 1px solid hsla(193, 33%, 51%, 0.459);
  cursor: pointer;
  color: white;
  font-size: 19px;
  font-family: 'Shadows Into Light', cursive;
}

.conteudo-single {
  font-family: 'Kalam', cursive !important;
  font-weight: 200;
  margin-top: 70px;
  width: 50%;
  padding: 8px 30px;
}

.conteudo-single h3 {
  font-weight: 400;
}

@media screen and (max-width: 768px){
  .form input[type=text] {
    width: 100%;
  }

  .conteudo-single {
    width: 100%;
    margin-top: 35px;
  }
  
}